/* responsive for (992px - 1200px) device */
/* min-width:992px = don't apply less than 992px device */
/* max-width:1200px = don't apply more than 1200px device */
/* main area width:1200px */
/* checking point: 1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px; /* left-right SAFE zone 992px-970px= 22px */
    }  
    .header {
        grid-template-columns: 2fr 4fr;
    }
}

/* responsive for (768px - 991px) device */
/* don't apply less than 768px device */
/* don't apply more than 991px device */
/* checking point = 800px */
@media only screen and (min-width:768px) and (max-width:991px){
    .container{
        width: 750px; /* safe zone 18px */
    }

    
}

/* responsive for (0px - 767px) device */
/* don't apply more than 767px device */
/* checking point = 400px */
@media only screen and (max-width: 767px){
    .container{
        width: 300px;
    }
    .header {
        grid-template-columns: auto;
    }
    .menu ul {
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
    }
    .logo a {
        font-size: 25px;
        font-weight: 500;
        margin-left: 58px;
    }
    .section-title h4 {
        font-size: 25px;
        line-height: 30px;
    }
    .about {
        grid-template-columns: auto;
    }
    .services {
        grid-template-columns: auto;
    }
    .single-service {
        margin-bottom: 20px;
    }
    .gallery {
        grid-template-columns: repeat(2, auto);
    }
    .contact-form {
        grid-template-columns: auto;
    }
    .form {
        margin-bottom: 50px;
    }

}
/* this one share with mobile code only width  is increased here or can be coded seperately if needed */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}