@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 24px;
}
a{
    color: #333;
    text-decoration: none;
    transition: .3s;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: middle;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* header css */

.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(214, 214, 214);
}
.menu ul {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(5,auto);
}
.logo a {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.menu ul li a {
  padding-left: 20px;
  text-transform: capitalize;
  font-weight: 500;
  transition: .3s;
}
.menu ul li a:hover {
  color: tomato;
}



  /* banner css */
.banner-img img {
    border: 3px solid #dcdcdc;
    padding: 3px;
  }

  /* about css */
  
.about-area {
    text-align: center;
    margin: 50px 0;
  }
  .section-title h4 {
    font-size: 30px;
    text-transform: capitalize;
  }
  .section-title p {
    padding: 20px 0;
    max-width: 800px;
    margin: 0 auto;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 40px;
  }
  .single-about {
    margin: 20px 0;
  }
  .single-about i {
    font-size: 30px;
  }
  .single-about h4 {
    font-size: 30px;
    text-transform: capitalize;
    line-height: 45px;
  }
  /* services css */
  
.title {
    text-align: center;
  }
  .title h4 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 60px;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 30px;
  }
  .single-service {

  }
  .single-service h4 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .single-service p {
    padding: 15px 0;
  }
  .single-service a {
    background-color: tomato;
    color: #fff;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 1px;
    display: inline-block;
  }

  /* gallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    grid-template-rows: repeat(3, auto);
  }

  .gallery-area {
    margin: 70px 0;
  }

  /* contact area css */
  
.contact-title {
    margin-top: 70px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 100px;
    }
  .form {
   
  }
  .contact-adderss {
   
  }
  .form input, .form textarea {
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    margin: 5px 0;
  }
  .form input[type="submit"] {
    width: auto;
    background-color: tomato;
    color: #fff;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .single-contact {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 14fr;
  }
  .single-contact i {
    background-color: tomato;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
  }
  .single-contact h4 {
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 10px;
  }
  .single-contact h4 span {
    display: block;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer {
    text-align: center;
    background-color: #333;
    padding: 15px 0;
    margin-top: 40px;
  }
  .footer p {
    color: #fff;
    text-transform: capitalize;
  }